.panel
  margin: unset !important
  z-index: 5

@keyframes pulse-black 
	0% 
		transform: scale(0.95)
		box-shadow: 0 0 0 0 rgba(71, 14, 254, .7)
	
	70% 
		transform: scale(1)
		box-shadow: 0 0 0 10px rgba(71, 14, 254, 0)
	
	100% 
		transform: scale(0.95)
		box-shadow: 0 0 0 0 rgba(71, 14, 254, 0)

@keyframes up 
	0%, 100% 
		transform: translateY(-5px)
	
	50% 
		transform: translateY(0)

section.header
  &.change
    .header-container
      background: $light_black
      .header-box
        padding: 40px 0 12px

section.section_1
  height: 100vh
  position: relative
  z-index: 0
  .ellipse
    position: absolute
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: url("../img/ellipse.png")
    background-repeat: repeat
    background-position: 0 0
    background-size: cover
    z-index: 3

    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(19, 19, 19, 0.4)
      backdrop-filter: blur(6px)

  .playlists-container
    height: 100%
    position: relative
    z-index: 4
    width: 100%
    overflow: hidden
    .playlist-items
      position: absolute
      z-index: 0
      left: 0
      bottom: 0
      max-width: 1400px
      margin: 0 auto
      left: 0
      right: 0
      .playlist-item
        position: absolute
        max-width: 273px
        max-height: 273px
        left: 0
        bottom: 0
        opacity: .4
        transition: opacity .5s
        &::after
          content: ''
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          backbackground: rgba(19, 19, 19, 0.4)
          backdrop-filter: blur(2px)
          opacity: 1
          visibility: visible
          transition: all .5s
        
        &.active
          opacity: 1
          z-index: 2
          &::after
            opacity: 0

        img
          width: 100%

        &.playlist-item1
          left: 29px
          bottom: 29vh

        &.playlist-item2
          left: 300px
          bottom: 29vh

        &.playlist-item3
          left: 360px
          bottom: 5vh

        &.playlist-item4
          left: 44%
          bottom: -25px

        &.playlist-item5
          left: 60%
          bottom: -50px

        &.playlist-item6
          left: 62%
          bottom: 195px
        
        &.playlist-item7
          left: unset
          right: 38px
          bottom: 200px

        &.playlist-item8
          left: unset
          right: 140px
          bottom: 25px

        &.playlist-item9
          left: unset
          right: -25px
          bottom: 40px
          // left: 65%
          // bottom: 195px

        //   img
             
          
        // &.playlist-item2 
          
            
        // &.playlist-item5 
            

        // &.playlist-item7 
            
              
    .container
      height: 100%
      .row
        height: 100%

  .playlist-box
      height: 100%
      justify-content: center
      position: relative
      display: flex
      flex-direction: column
      z-index: 77
      .main-text
          max-width: 792px
          text-align: center
          color: $lightText
          +lg-b 
          font-size: 85px
          line-height: 85px     
          margin: 0 auto         
      .emojis
        ul
          max-width: 590px
          margin: 15px auto
          display: flex
          align-items: center
          justify-content: center
          grid-gap: 44px

          a
              width: 82px
              height: 81px
              transition: all .3s
              &:hover
                transform: translateY(-10px)
              img
                  width: 100%  
      .playlist-button
          margin-top: 40px
          position: relative
          
          .button-border
              width: 199px
              height: 48px
              opacity: 0.5
              border: 3px solid $white
              box-sizing: border-box
              filter: blur(5px)
              position: absolute
              left: 50%
              z-index: 1
              transform: translate(-50%,0%)
              border-radius: 25px
          
          a
              +lg-b
              position: absolute
              left: 50%
              transform: translate(-50%,0%)
              width: 199px
              height: 48px
              z-index: 0
              border: 3px solid $white
              border-radius: 25px
              display: flex
              justify-content: center
              align-items: center
              color: $white
              z-index: 777

      .scroll-down
          position: absolute
          left: 50%
          transform: translate(-50%,0%)
          margin: 92px auto

  .get-app
      position: absolute
      bottom: 76px
      display: grid
      grid-gap: 6px

      .text
          color: $pink
          +lg-sb
          font-size: 14px
          span
              color: $blue
      .get-app-item
          max-width: 183px
          max-height: 55px

section.section_3
  min-height: auto
  position: relative
  background-image: url('../img/map_smooth.png')
  background-size: cover
  background-position: center
  .container
    z-index: 7
  
  .ellipse
    position: absolute
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: url("../img/ellipse.png")
    background-repeat: repeat
    background-position: 0 0
    background-size: cover
    z-index: 3

    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(19, 19, 19, 0.4)
  
  .section_3_main_container
    display: grid
    grid-template-columns: 2fr 1fr
    grid-gap: 50px
    padding: 200px 0 35px
    position: relative
    z-index: 555
    min-height: auto
    align-items: center
    .music_desc_container
      display: flex
      flex-direction: column
      justify-content: center
      .same_btn
        border: 5px solid #3E2DE2
        border-radius: 50%
        width: max-content
        animation: up .5s linear infinite
        animation-play-state: paused
        &:hover
          animation-play-state: running
        img
          width: 71px
          height: 71px
        &.left_btn_box
          align-self: flex-start
        &.right_btn_box
          align-self: flex-end
          margin-top: 60px
      
      .center_btn_box
        align-self: center
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        grid-gap: 13px
        button
          position: relative
          min-width: 182px
          height: 46px
          display: flex
          align-items: center
          justify-content: center
          grid-gap: 9px
          padding: 5px
          box-shadow: 0 0 0 rgba(71, 14, 254, 1)
          transform: scale(1)
          animation: pulse-black 2s infinite
          background: $purple
          border-radius: 14px
          &::after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: $purple
            opacity: 0.5
            filter: blur(24px)
            border-radius: 14px
          
          img
            position: relative
            z-index: 5
          p
            +lg-b
            font-size: 14px
            line-height: 19px
            color: $white
            position: relative
            z-index: 5
        .btn_img
          border: 5px solid #3E2DE2
          border-radius: 50%
          width: max-content
          img
            width: 124px
            height: 124px
      
      .info_music
        max-width: 385px
        margin-top: 120px
        display: flex
        flex-direction: column
        grid-gap: 25px
        padding-bottom: 70px
        p
          +lg-sb
          color: $lightText
          font-size: 40px
          line-height: 43px

        a
          min-width: 200px
          width: max-content
          height: 48px
          position: relative
          display: flex
          align-items: center
          justify-content: center
          border: 3px solid $pink
          box-sizing: border-box
          border-radius: 25px
          p
            position: relative
            z-index: 5
            +lg-b
            font-size: 20px
            line-height: 24px
            color: $white
          &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            border: 3px solid $pink
            filter: blur(6px)
            border-radius: 25px

      .music_right_img
      height: 100%
      .img_box
        max-height: 600px
        img
          width: 100%
          height: 100%

section.section_6
  position: relative
  min-height: auto
  background: $white
  padding: 150px 0 15px
  overflow: hidden
  video
    position: absolute
    z-index: 2
    top: 50px
    left: 0
    width: 100%
    max-height: 450px

  .question_main_container
    position: relative
    z-index: 5
    display: flex
    flex-direction: column
    grid-gap: 50px
    padding-right: 100px
    width: 100%

    .question_top
      display: flex
      grid-gap: 100px
      align-items: flex-end
      .question_left_info
        display: flex
        flex-direction: column
        grid-gap: 40px
        padding-bottom: 65px
        .q_title
          +lg-sb
          font-size: 65px
          line-height: 84px
          color: $black
        
        .ques_ask
          .just_ask
            +lg-sb
            color: $pink
            font-size: 45px
            line-height: 50px
            margin-bottom: 3px
          
          .info_ques
            +lg-r
            font-size: 14px
            line-height: 20px
            color: $black
            margin-bottom: 24px
          
          a
            min-width: 212px
            width: max-content
            height: 48px
            display: flex
            align-items: center
            justify-content: center
            border: 3px solid $pink
            border-radius: 25px
            position: relative
            &::before
              content: ''
              position: absolute
              left: 0
              top: 0
              width: 100%
              height: 100%
              border: 3px solid $pink
              filter: blur(7px)
              border-radius: 25px
              opacity: .4
            p
              +lg-sb
              font-size: 20px
              line-height: 24px
              color: $pink
              position: relative
              z-index: 5
            
      
      .quest_img
        max-width: 360px
        width: 100%
        img
          width: 100%

    .question_bottom
      display: flex
      align-items: center
      grid-gap: 280px
      .q_bottom_left
        display: flex
        flex-direction: column
        grid-gap: 28px
        p
          color: $light_black
          +lg-r
          font-size: 13px
          line-height: 17px
      
      ul
        width: 430px
        display: grid
        grid-template-columns: repeat(3,1fr)
        justify-content: space-between
        align-items: center
        grid-gap: 11px
        li
          a
            +lg-sb
            font-size: 16px
            line-height: 21px
            color: $light_black

section.section_4
  min-height: auto
  display: flex
  align-items: center
  justify-content: center
  background: #0E0E0E
  position: relative
  padding: 250px 0

  .ellipse
    position: absolute
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: url("../img/ellipse_sound.png")
    background-repeat: repeat
    background-position: 0 0
    background-size: cover
    z-index: 3
  
  .sound_container
    display: flex
    align-items: center
    grid-gap: 100px
    padding-right: 100px
    position: relative
    z-index: 5
    .sound_box
      display: flex
      grid-gap: 120px
      align-items: flex-start
      flex: none
      .sound_single
        width: 270px
        height: 475px
        position: relative
        >img
          width: 100%
          height: 100%
          border-radius: 50px
        
        .sound_avatar
          position: absolute
          width: 81px
          height: 81px
          border: 5px solid #3E2DE2
          border-radius: 50%
          display: flex
          right: -25px
          top: -40px
          img
            width: 100%
            height: 100%
            border-radius: 50%
      
    .sound_dec
      display: flex
      flex-direction: column
      grid-gap: 28px
      max-width: 280px
      >p
        color: $white
        +lg-sb
        font-size: 50px
        line-height: 55px
      
      a
        min-width: 200px
        width: max-content
        height: 48px
        display: flex
        align-items: center
        justify-content: center
        border: 3px solid $pink
        border-radius: 25px
        position: relative
        p
          +lg-b
          color: $white
          font-size: 18px
          line-height: 24px
        &::before
          content: ''
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          border: 3px solid $pink
          filter: blur(6px)
          border-radius: 25px
