@media (max-height: 880px)
  section.section_1
    .playlists-container
      .playlist-items
        .playlist-item
          &.playlist-item1
            max-width: 200px
            max-height: 200px
          &.playlist-item2
            left: 235px

          &.playlist-item3
            max-width: 160px
            max-height: 160px
            bottom: 15px
            left: 280px

          &.playlist-item4
            max-width: 160px
            max-height: 160px
            bottom: -25px
            left: 450px

          &.playlist-item5
            max-width: 180px
            max-height: 180px
            bottom: -25px
            left: 57%
          
          &.playlist-item6
            max-width: 130px
            max-height: 130px
            left: unset
            right: 20%
          
          &.playlist-item7
            max-width: 190px
            max-height: 190px
            left: unset

          &.playlist-item8
            right: 15%
            bottom: 25px

          &.playlist-item9
            max-width: 120px
            max-height: 120px
            right: -15px
            bottom: 25px

    .playlist-box
      .main-text
        font-size: 60px
        line-height: 70px
      .emojis 
         ul
           a
             width: 60px
             height: 60px

      .playlist-button
        margin-top: 20px
    
    .get-app
      bottom: 15px
      .get-app-item
        max-width: 120px
        img
          width: 100%
  
  section.section_3 
    .section_3_main_container 
      .music_desc_container 
        .info_music
          padding-bottom: 0

@media (min-height: 1300px)
  section
    &.section_1 
      .playlists-container 
        .playlist-items 
          .playlist-item
            &.playlist-item1
              bottom: 19vh
            &.playlist-item2
              bottom: 22vh

@media (max-width: 1200px)
  section
    
    &.section_1 
      .playlist-box 
        .main-text
          font-size: 55px
          line-height: 60px
          max-width: 700px
        .emojis 
          ul
            grid-gap: 30px
            li
              a
                width: 55px
                height: 55px
      
      .playlists-container 
        .playlist-items 
          .playlist-item
            &.playlist-item1
              max-width: 180px
              max-height: 180px
            &.playlist-item3
              max-width: 140px
              max-height: 140px
              left: 19%
            &.playlist-item4
              max-width: 140px
              max-height: 140px
              left: 35%
            &.playlist-item5
              max-width: 160px
              max-height: 160px
              left: 52%
            &.playlist-item8
              right: 12%
            &.playlist-item7
              max-width: 160px
              max-height: 160px
              right: 14px

    &.section_3 
      .section_3_main_container
        padding: 170px 0 70px
        align-items: flex-start
        .music_right_img
          .img_box
            max-width: 400px
            max-height: 500px
          img
            width: 100%
            height: 100%
        .music_desc_container 
          .info_music
            margin-top: 100px
            p
              font-size: 35px
              line-height: 38px

          .same_btn
            &.right_btn_box
              margin-top: 20px
    
    &.section_4 
      .sound_container
        padding-right: 0
        justify-content: space-between
        grid-gap: unset
        .sound_box
          grid-gap: 50px
        
        .sound_dec 
          &> p
            font-size: 40px
            line-height: 45px

    &.section_6
      padding: 120px 0 10px
      .question_main_container
        padding-right: 0

@media (max-width: 991px)
  section
    &.section_1 
      .playlist-box 
        .main-text
          font-size: 40px
          line-height: 45px
          max-width: 550px
        
        .emojis 
          ul
            grid-gap: 30px
            margin: 30px auto
            li
              a
                width: 47px
                height: 47px

        .playlist-button
          height: 42px
          .button-border
            width: 175px
          a
            width: 175px
            height: 42px
            font-size: 17px
            line-height: 21px

        .scroll-down
          margin: 50px auto
    

      .playlists-container
        .playlist-items
          height: 100%
          .playlist-item
            height: max-content
            &.playlist-item1
              max-width: 160px
              max-height: 160px
              left: 25px
              top: 86px
              bottom: unset
            &.playlist-item2
              max-width: 100px
              max-height: 100px
              left: 218px
              top: 70px
              bottom: unset
            &.playlist-item3
              max-width: 120px
              max-height: 120px
              left: 69px
              bottom: 200px
            &.playlist-item4
              max-width: 130px
              max-height: 130px
              left: 27%

            &.playlist-item5
              max-width: 130px
              max-height: 130px
              left: 58%
              bottom: unset
              top: 78px
            
            &.playlist-item6
              max-width: 120px
              max-height: 120px
              left: unset
              bottom: 195px
              right: 5%

            &.playlist-item7
              max-width: 150px
              max-height: 150px
              left: unset
              right: 14px
              top: 85px

            &.playlist-item8
              max-width: 130px
              max-height: 130px
              left: unset
              right: 18%

            &.playlist-item9
              max-width: 130px
              max-height: 130px
              

    &.section_3 
      .section_3_main_container
        padding: 170px 0 50px
        align-items: flex-start
        .music_right_img
          .img_box
            min-width: 250px
            min-height: 300px
          
        .music_desc_container 
          .info_music
            margin-top: 60px
            grid-gap: 22px
            p
              font-size: 30px
              line-height: 36px
            

          .same_btn
            &.right_btn_box
              margin-top: 20px
            
            img
              width: 65px
              height: 65px

          .center_btn_box 
            .btn_img 
              img
                width: 100px
                height: 100px

    &.section_4
      padding: 120px 0 70px 
      .sound_container
        flex-direction: column
        align-items: flex-start
        grid-gap: 35px
        .sound_box
          grid-gap: 50px
          width: 100%
          justify-content: space-between
        
        .sound_dec
          max-width: unset
          width: 100%
          grid-gap: 20px
          &> p
            font-size: 35px
            line-height: 40px

    &.section_6
      .question_main_container
        .question_top
          grid-gap: 50px
          .quest_img
            max-width: 250px
          .question_left_info
            grid-gap: 21px 
            .q_title
              font-size: 50px
              line-height: 55px
            .ques_ask 
              .just_ask
                font-size: 35px
                line-height: 37px
              
              .info_ques
                font-size: 12px
                line-height: 14px
                margin-bottom: 20px
              
              button
                min-width: 180px
                height: 42px
                p
                  font-size: 17px
                  line-height: 21px

@media (max-width: 768px)
  section
    &.section_1 
      .playlist-box 
        .main-text
          font-size: 33px
          line-height: 35px
          max-width: 400px
        
        .emojis 
          ul
            grid-gap: 25px
            margin: 25px auto
            li
              a
                width: 47px
                height: 47px

        .playlist-button
          height: 38px
          .button-border
            width: 160px
            height: 38px
          a
            width: 160px
            height: 38px
            font-size: 15px
            line-height: 17px

    
      .playlists-container
        .playlist-items
          height: 100%
          .playlist-item
            height: max-content
            &.playlist-item1
              max-width: 140px
              max-height: 140px
              left: 25px
              top: 86px
              bottom: unset
            &.playlist-item2
              max-width: 90px
              max-height: 90px
              left: 218px
              top: 70px
              bottom: unset
            &.playlist-item3
              max-width: 100px
              max-height: 100px
              left: 69px
              bottom: 200px
            &.playlist-item4
              max-width: 110px
              max-height: 110px
              left: 40%

            &.playlist-item5
              max-width: 120px
              max-height: 120px
              left: 52%
              bottom: unset
              top: 78px
            
            &.playlist-item6
              max-width: 110px
              max-height: 110px
              left: unset
              bottom: 195px
              right: 5%

            &.playlist-item7
              max-width: 130px
              max-height: 130px
              left: unset
              right: 14px
              top: 85px

            &.playlist-item8
              max-width: 120px
              max-height: 120px
              left: unset
              right: 18%

            &.playlist-item9
              max-width: 120px
              max-height: 120px


    &.section_3 
      .section_3_main_container
        padding: 165px 0 25px
        align-items: flex-start
        grid-template-columns: auto
        grid-gap: 0
        .music_right_img
          .img_box
            width: 220px
            max-width: 360px
            height: 440px
            margin-left: auto
          
        .music_desc_container
          position: relative 
          .info_music
            margin-top: 0
            order: 1
            max-width: 300px
            p
              font-size: 26px
              line-height: 30px
            
            a
              min-width: 180px
              height: 42px
              p
                font-size: 17px
                line-height: 21px

          .same_btn
            order: 3
            &.right_btn_box
              margin-top: 50px
              margin-bottom: 10px
              margin-right: 50px
              order: 2
            
            img
              width: 60px
              height: 60px

          .center_btn_box
            order: 4
            position: absolute
            left: 0
            bottom: 0
            top: 137%
            button
              min-width: 140px
              height: 34px
              border-radius: 10px
              img
                width: 12px
                height: 12px
              p
                font-size: 11px
                line-height: 13px
            .btn_img 
              img
                width: 92px
                height: 92px

    &.section_4
      .sound_container
        flex-direction: column
        align-items: flex-start
        grid-gap: 35px
        .sound_box
          flex-direction: column
          grid-gap: 0
          .sound_single
            width: 220px
            height: 350px
            &:nth-of-type(2n)
              align-self: flex-end
            
            .sound_avatar
              width: 60px
              height: 60px
              right: -10px
              top: -25px
        
        .sound_dec
          grid-gap: 15px
          &> p
            font-size: 30px
            line-height: 35px
          
          a
            min-width: 170px
            height: 42px
            p
              font-size: 15px
              line-height: 18px

    &.section_6
      .question_main_container
        .question_top
          grid-gap: 50px
          .quest_img
            max-width: 250px
          .question_left_info
            grid-gap: 21px 
            .q_title
              font-size: 42px
              line-height: 45px
            .ques_ask 
              .just_ask
                font-size: 26px
                line-height: 30px
              
              .info_ques
                font-size: 10px
                line-height: 12px
              
              a
                min-width: 155px
                height: 36px
                p
                  font-size: 15px
                  line-height: 19px

        .question_bottom
          grid-gap: 20px
          justify-content: space-between
          .q_bottom_left
            grid-gap: 50px
            p
              font-size: 10px
              line-height: 13px
          ul
            width: unset
            max-width: 200px
            grid-template-columns: repeat(2,1fr)
            grid-gap: 20px 65px
            li
              a
                font-size: 13px
                line-height: 16px

@media (max-width: 576px)
  section
    &.header
      &.change 
        .header-container 
          .header-box
            padding: 25px
    
    &.section_1
      .get-app
        left: 25px
        .text
          font-size: 10px
          line-height: 12px 

      .playlist-box
        padding: 0 25px 
        .playlist-button
          height: 36px
          .button-border
            width: 153px
            height: 36px

          a
            width: 153px
            height: 36px
            font-size: 13px
            line-height: 16px

        .main-box
          .emojis
            ul
              grid-gap: 20px
              li
                a
                  width: 40px
                  height: 40px

      .playlists-container
        .playlist-items
          .playlist-item
            display: flex
            &.playlist-item1
              max-width: 140px
              max-height: 140px
              left: 25px
              top: 86px
              bottom: unset
            
            &.playlist-item2
              max-width: 80px
              max-height: 80px
              left: 46%
              top: 70px
              bottom: unset
            &.playlist-item3
              max-width: 90px
              max-height: 90px
              left: -10px
              bottom: 200px
            &.playlist-item4
              max-width: 100px
              max-height: 100px
              left: 150px
              bottom: 50px

            &.playlist-item5
              display: none
            
            &.playlist-item6
              max-width: 100px
              max-height: 100px
              left: unset
              bottom: 195px
              right: 5%

            &.playlist-item7
              max-width: 110px
              max-height: 110px
              left: unset
              right: 14px
              top: 85px

            &.playlist-item8
              display: none

            &.playlist-item9
              max-width: 110px
              max-height: 110px


    &.section_3 
      .section_3_main_container
        padding: 165px 25px 25px
        .music_right_img
          .img_box
            width: 220px
            max-width: 360px
            height: 440px
            margin-left: auto
          
        .music_desc_container
          .info_music
            max-width: 300px
            p
              font-size: 22px
              line-height: 26px
            
            a
              min-width: 155px
              height: 36px
              p
                font-size: 13px
                line-height: 17px

          .same_btn
            img
              width: 58px
              height: 58px

          .center_btn_box
            order: 4
            position: absolute
            left: 0
            button
              min-width: 110px
              height: 27px
              border-radius: 8px
              p
                font-size: 8px
                line-height: 11px

            .btn_img 
              img
                width: 84px
                height: 84px

    &.section_4
      .sound_container
        padding: 0 25px
        .sound_box
          flex-direction: column
          .sound_single
            width: 160px
            height: 270px
            &:nth-of-type(2n)
              align-self: flex-end
            
            .sound_avatar
              width: 46px
              height: 46px
              right: -10px
              top: -15px
        
        .sound_dec
          &> p
            font-size: 25px
            line-height: 30px
          
          a
            min-width: 155px
            height: 36px
            p
              font-size: 13px
              line-height: 16px

    &.section_6
      video
        top: 40%
        left: 50%
        transform: translate(-50% , -50%)
        width: 1500px
      .question_main_container
        padding: 0 25px
        .question_top
          grid-gap: 65px
          flex-direction: column
          align-items: flex-start
          .quest_img
            max-width: unset
            width: 100%
            display: flex
            justify-content: flex-end
            img
              max-width: 250px
              max-height: 400px
              min-height: 320px
          .question_left_info
            grid-gap: 21px
            padding: 0
            max-width: 350px
            .q_title
              font-size: 35px
              line-height: 37px
            .ques_ask 
              .just_ask
                font-size: 22px
                line-height: 26px
              
              a
                background: $white
                p
                  font-size: 13px
                  line-height: 17px

@media (max-width: 400px)
  section
    &.section_3 
      .section_3_main_container 
        .music_right_img 
          .img_box
            min-width: unset
            min-height: unset
            width: 150px
            height: 280px