@media (min-width: 1250px)
    .container
        max-width: 1200px
        

@media (max-width: 1200px)
    section.section_5

        .section_5_box
            grid-template-columns: 60% 35%
            padding: 240px 0px 61px
            grid-gap: 40px
            .section_5_left
                .other-images
                    ul
                        li
                            &:nth-child(1)
                                top: 180px
                                left: -10px
                            &:nth-child(2)
                                top: 50px
                                left: -50px
                            &:nth-child(3)
                                left: -40px
                            &:nth-child(4)
                                left: 0px
                                top: -45px
                            &:nth-child(5)
                                left: -30px
                                top: 110px
                            &:nth-child(6)
                                top: 125px
                                left: -10px
                           
        
            .section_5_right
                left: 0px
                .title
                    font-size: 42px
                    line-height: 56px
                .section_5_button
                    a
                        font-size: 16px

@media (max-width: 991px)  
    section.privacy-header
        .header-container
            background: $light_black 
            .header-box
                padding: 40px 0 12px

    section.header
        .header-container 
            .header-box
                padding: 20px 0 25px
                .header-web-box
                    ul
                        grid-gap: 45px    
        
    section.section_2
        .scroll-list-container
            .scroll-box
                grid-gap: 16px
                .section2-right
                    .section2-gif
                        width: 852px
                        right: -260px
                        
    section.section_6
        .section_6_box
            .footer
                ul
                    grid-gap: 11px 51px
    
    
    section.section_7
        .section_7_box
            .breadcumps
            .section_7_body
                padding-top: 70px
                grid-template-columns: 50% 40%
                .section_7_left
                    .title
                        +lg-b
                        font-size: 49px
                        line-height: 49px
                    .text
                        font-size: 15px
                        grid-gap: 13px

                    .apps
                        padding-top: 73px
                        
                .section_7_right
                    .section_7_imgs
                        margin-top: -50px
                      
                        .image-item-2
                            left: -45px
                            top: 106px
            
      

@media (max-width: 768px)  

    section.privacy-header
        .header-container
            background: $light_black 
            .header-box
                padding: 25px 0 24px

    section.header
        .header-container 
            .header-box
                padding: 25px 0 30px
                .header-web-box
                    display: none
                .header-mobile-box
                    display: block

    section.section_2
        .scroll-list-container
            .scroll-box
                grid-gap: 16px
                .section2-right
                    top: 70px
                    .section2-gif
                        width: 702px
                        bottom: -100px                
                .section2-left
                    .item
                        margin-bottom: 16px
                        max-width: unset
                        width: 100%
                        
                        p
                            font-size: 16px
                            line-height: 23px

                    .list-button
                        top: 31px
                        .button-border
                            width: 153px
                            height: 36px
                        a
                            font-size: 13px
                            line-height: 13px
                            width: 153px
                            height: 36px   
    section.section_5
        .section_5_ellipse
            background-position: top
        .section_5_box
            grid-template-columns: 60% 30%
            padding: 220px 0px 61px
            grid-gap: 40px
            .section_5_left
                .other-images
                    ul
                        li
                            &:nth-child(1)
                                top: 120px
                                left: 0px
                            &:nth-child(2)
                                top: 40px
                                left: -30px
                            &:nth-child(3)
                                left: -30px
                                top: -10px
                            &:nth-child(4)
                                left: 0px
                                top: -35px
                            &:nth-child(5)
                                left: -20px
                                top: 50px
                            &:nth-child(6)
                                top: 95px
                                left: -10px
                         
        
            .section_5_right
                .title
                    font-size: 25px
                    line-height: 25px
                .section_5_button
                    .button-border
                        width: 153px
                        height: 36px
                    a
                        width: 153px
                        height: 36px
                        font-size: 13px                            



    section.section_6
        .breadcumps
            padding-top: 130px
        .section_6_box
            padding-top: 43px
            padding-right: 0
            padding-left: 0
            .title
                .privacy-title
                    +lg-sb
                    font-size: 34px
                    line-height: 44px
                p
                    +lg-l
                    font-size: 11px
            .text>ul
                display: grid
                grid-gap: 16px
            .text
                margin-top: 30px
                li
                    font-size: 14px
                    line-height: 23px  
                    b
                        font-size: 20px
                
                .sub-ul-1
                    margin-left: 20px
                    margin-top: 13px
                    li
                        grid-gap: 17px
                        line-height: 29px
                        span
                            width: 6px
                            height: 6px
                            border-radius: 50%
                
                .sub-ul-2
                    margin-top: 19px
                    margin-left: 55px
                    li
                        line-height: 29px
                        grid-gap: 17px
                        span
                            width: 6px
                            border-radius: 50%
                            height: 6px
                            background-color: $blue               
            .footer
                margin-top: 101px
                margin-bottom: 5px
                max-width: unset
                width: 100%
                .footer-copyright
                    font-size: 13px
                    line-height: 17px
                    padding-top: 28px
                ul
                    display: grid
                    grid-template-columns: 1fr 1fr 1fr
                    grid-gap: 11px 51px

                    a
                        font-size: 15px
                        line-height: 21px
                        
    section.section_7
        .right-ellipse
            width: 90%
            background-position: bottom left
        .left-ellipse
            width: 70%
            background-position: top right
        .section_7_box
            .breadcumps
                padding-top: 118px
            .section_7_body
                padding-top: 70px
                grid-template-columns: 50% 40%
                .section_7_left
                    .title
                        +lg-b
                        font-size: 35px
                        line-height: 35px
                    .text
                        font-size: 15px
                        grid-gap: 13px

                    .apps
                        padding-top: 73px
                        
                .section_7_right
                    .section_7_imgs
                        margin-top: 40px
                      
                        .image-item-2
                            left: -45px
                            top: 106px
            

@media (max-width: 576px)  

    section.privacy-header
        .header-container
            background: $light_black 
            .header-box
                padding: 25px 25px 24px !important

    section.header
        .header-container 
            .header-box
                padding: 25px 25px 92px
    section.section_failed
        padding-left: 25px
        padding-right: 25px
        
                  
    section.section_2
        .scroll-list-container
            .scroll-box
                padding: 129px 25px 120px
                display: grid
                grid-template-columns: 1fr
                grid-gap: 0px
                .section2-left
                    .item
                        margin-bottom: 16px
                        max-width: unset
                        width: 100%
                        div
                            &:first-child
                                grid-gap: 14px
                        .list-icon
                            width: 12px
                            height: 16px
                            
                        p
                            font-size: 14px
                            line-height: 18px

                    .list-button
                        top: 31px
                        .button-border
                            width: 153px
                            height: 36px
                        a
                            font-size: 13px
                            line-height: 13px
                            width: 153px
                            height: 36px

                .section2-right
                    position: relative
                    bottom: unset
                    top: 20px
                    .section2-img
                        max-width: 203px
                        max-height: 303px
                        margin-left: auto

                       
                    .section2-gif
                        position: absolute
                        bottom: -40%
                        right: -100%   
                        width: 250%
    
    section.section_5
        .section_5_box
            display: flex
            flex-direction: column-reverse
            grid-template-columns: 1fr
            padding: 270px 0px 61px
            grid-gap: 200px
            .section_5_left
                .other-images
                    ul
                        li
                            &:nth-child(1)
                                top: 100px
                                left: 20px
                            &:nth-child(2)
                                top: -5px
                                left: -30px
                            &:nth-child(3)
                                left: -20px
                                top: -30px
                            &:nth-child(4)
                                left: 10px
                                top: -100px
                            &:nth-child(5)
                                left: -130px
                                top: 40px
                            &:nth-child(6)
                                top: 75px
                                left: -100px
                            
                            &:nth-child(1)
                                a
                                    width: 62px
                                    height: 62px  
                            &:nth-child(2)
                                a
                                    width: 89.62px
                                    height: 89.62px
                            &:nth-child(3)
                                a
                                    width: 46.35px
                                    height: 46.35px
                            &:nth-child(4)
                                a
                                    width: 107.44px
                                    height: 107.44px   
                            &:nth-child(5)
                                a
                                    width: 60.25px
                                    height: 60.25px
                            &:nth-child(6)
                                a
                                    width: 84.14px
                                    max-height: 84.14px                               
               
            .section_5_right
                padding-left: 25px
                padding-right: 25px 
                top: 0
                .title
                    font-size: 25px
                    line-height: 25px
                .section_5_button
                    top: 16px
                    .button-border
                        width: 153px
                        height: 36px
                    a
                        width: 153px
                        height: 36px
                        font-size: 13px 
                        color: $white
                 
    
    section.section_6
        padding-left: 25px
        padding-right: 25px

    section.section_7
        // padding-bottom: 120px
        .section_7_gif
            margin-top: 20px
        .right-ellipse
            width: 100%
            background-position: left
        .left-ellipse
            width: 100%
            background-position: center
        .section_7_box
            padding-left: 25px
            padding-right: 25px
            .breadcumps
                padding-top: 178px
            .section_7_body
                display: flex
                flex-direction: column
                padding-top: 60px
                grid-gap: 45px
                .section_7_left
                    .title
                        max-width: 236px
                        font-size: 30px
                        line-height: 35px
                    .text
                        font-size: 12px
                        line-height: 16px
                        padding-top: 13px

                    .apps
                        padding-top: 40px
                        
                .section_7_right
                    .section_7_imgs
                        margin-left: 30px
                        justify-content: center
                        margin-top: 0px
                        div
                            max-height: 225px
                            max-width: 112px
                        .image-item-2
                            left: -35px
                            top: 80px
    
@media (max-width: 400px)    
    section.section_5
        .section_5_box
            .section_5_left
                .other-images
                    ul
                        li
                            &:nth-child(1)
                                top: 100px
                                left: 0px
                            &:nth-child(2)
                                top: 10px
                                left: -20px
                            &:nth-child(3)
                                left: -20px
                                top: -30px
                            &:nth-child(4)
                                left: 10px
                                top: -60px
                            &:nth-child(5)
                                left: -40px
                                top: 40px
                            &:nth-child(6)
                                top: 75px
                                left: -30px


                            &:nth-child(1)
                                a
                                    width: unset
                                    height: unset
                                    max-width: 62px
                                    max-height: 62px  
                            &:nth-child(2)
                                a
                                    width: unset
                                    height: unset
                                    max-width: 89.62px
                                    max-height: 89.62px
                            &:nth-child(3)
                                a
                                    width: unset
                                    height: unset
                                    max-width: 46.35px
                                    max-height: 46.35px
                            &:nth-child(4)
                                a
                                    width: unset
                                    height: unset
                                    max-width: 107.44px
                                    max-height: 107.44px   
                            &:nth-child(5)
                                a
                                    width: unset
                                    height: unset
                                    max-width: 60.25px
                                    max-height: 60.25px
                            &:nth-child(6)
                                a
                                    width: unset
                                    height: unset
                                    max-width: 84.14px
                                    max-max-height: 84.14px   