// Base fonts
$lg-l:  'lg-l',   Arial,   sans-serif
$lg-r:  'lg-r',   Arial,   sans-serif
$lg-sb:  'lg-sb',  Arial,   sans-serif
$lg-b:  'lg-b',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$black:                   #000000
$light_black:             #1B1B1B
$pink: 		   			  #E22A70
$purple:			      #470EFE
$lightText: 			  #EAEAEA
$blue: 			          #90F5EF

=img_contain 
	width: 100%
	height: 100%
	object-fit: contain

=btn_default
	background: none
	outline: none
	border: none
	cursor: pointer
// Base mixin

=lg-l
	font-family: $lg-l
	font-weight: 400

=lg-r
	font-family: $lg-r
	font-weight: 400


=lg-sb
	font-family: $lg-sb
	font-weight: 400


=lg-b
	font-family: $lg-b
	font-weight: 400
