*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    border: 0;
}

body{
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(112, 148, 167, 0.25) inherit;
}

body::-webkit-scrollbar {
    width: 0px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

body:hover::-webkit-scrollbar-thumb{
    background: transparent; 
}
  
body::-webkit-scrollbar-track {
    margin-right: 10px;
    background: inherit; 
}
   
body::-webkit-scrollbar-thumb {
    margin-right: 10px;
    background: inherit; 
    border-radius: 10px;
    background-clip: padding-box;
}

section.header{
    min-height: unset !important;
}

ul{
	margin-bottom: 0 ;
    padding-left: 0;
}

li{
    list-style: none;
}

p{
	margin-bottom: 0;
}

a{
    text-decoration: none;
	display:inline-block ;
}

a:hover{
    color: inherit;
}
