@font-face {
  font-family: "lg-l";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/LotaGrotesque-Light.eot");
  src: url("../fonts/LotaGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/LotaGrotesque-Light.woff") format("woff"), url("../fonts/LotaGrotesque-Light.ttf") format("truetype"), url("../fonts/LotaGrotesque-Light.svg") format("svg");
}

@font-face {
  font-family: "lg-r";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/LotaGrotesque-Regular.eot");
  src: url("../fonts/LotaGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LotaGrotesque-Regular.woff") format("woff"), url("../fonts/LotaGrotesque-Regular.ttf") format("truetype"), url("../fonts/LotaGrotesque-Regular.svg") format("svg");
}

@font-face {
  font-family: "lg-sb";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/LotaGrotesque-SemiBold.eot");
  src: url("../fonts/LotaGrotesque-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LotaGrotesque-SemiBold.woff") format("woff"), url("../fonts/LotaGrotesque-SemiBold.ttf") format("truetype"), url("../fonts/LotaGrotesque-SemiBold.svg") format("svg");
}

@font-face {
  font-family: "lg-b";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/LotaGrotesque-Bold.eot");
  src: url("../fonts/LotaGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/LotaGrotesque-Bold.woff") format("woff"), url("../fonts/LotaGrotesque-Bold.ttf") format("truetype"), url("../fonts/LotaGrotesque-Bold.svg") format("svg");
}

.panel {
  margin: unset !important;
  z-index: 5;
}

@-webkit-keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(71, 14, 254, 0.7);
            box-shadow: 0 0 0 0 rgba(71, 14, 254, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(71, 14, 254, 0);
            box-shadow: 0 0 0 10px rgba(71, 14, 254, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(71, 14, 254, 0);
            box-shadow: 0 0 0 0 rgba(71, 14, 254, 0);
  }
}

@keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(71, 14, 254, 0.7);
            box-shadow: 0 0 0 0 rgba(71, 14, 254, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(71, 14, 254, 0);
            box-shadow: 0 0 0 10px rgba(71, 14, 254, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(71, 14, 254, 0);
            box-shadow: 0 0 0 0 rgba(71, 14, 254, 0);
  }
}

@-webkit-keyframes up {
  0%, 100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  0%, 100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

section.header.change .header-container {
  background: #1B1B1B;
}

section.header.change .header-container .header-box {
  padding: 40px 0 12px;
}

section.section_1 {
  height: 100vh;
  position: relative;
  z-index: 0;
}

section.section_1 .ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/ellipse.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: 3;
}

section.section_1 .ellipse::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.4);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

section.section_1 .playlists-container {
  height: 100%;
  position: relative;
  z-index: 4;
  width: 100%;
  overflow: hidden;
}

section.section_1 .playlists-container .playlist-items {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  max-width: 1400px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

section.section_1 .playlists-container .playlist-items .playlist-item {
  position: absolute;
  max-width: 273px;
  max-height: 273px;
  left: 0;
  bottom: 0;
  opacity: .4;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

section.section_1 .playlists-container .playlist-items .playlist-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backbackground: rgba(19, 19, 19, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .5s;
  transition: all .5s;
}

section.section_1 .playlists-container .playlist-items .playlist-item.active {
  opacity: 1;
  z-index: 2;
}

section.section_1 .playlists-container .playlist-items .playlist-item.active::after {
  opacity: 0;
}

section.section_1 .playlists-container .playlist-items .playlist-item img {
  width: 100%;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
  left: 29px;
  bottom: 29vh;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item2 {
  left: 300px;
  bottom: 29vh;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item3 {
  left: 360px;
  bottom: 5vh;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item4 {
  left: 44%;
  bottom: -25px;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item5 {
  left: 60%;
  bottom: -50px;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item6 {
  left: 62%;
  bottom: 195px;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item7 {
  left: unset;
  right: 38px;
  bottom: 200px;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item8 {
  left: unset;
  right: 140px;
  bottom: 25px;
}

section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item9 {
  left: unset;
  right: -25px;
  bottom: 40px;
}

section.section_1 .playlists-container .container {
  height: 100%;
}

section.section_1 .playlists-container .container .row {
  height: 100%;
}

section.section_1 .playlist-box {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 77;
}

section.section_1 .playlist-box .main-text {
  max-width: 792px;
  text-align: center;
  color: #EAEAEA;
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 85px;
  margin: 0 auto;
}

section.section_1 .playlist-box .emojis ul {
  max-width: 590px;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 44px;
}

section.section_1 .playlist-box .emojis ul a {
  width: 82px;
  height: 81px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section.section_1 .playlist-box .emojis ul a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

section.section_1 .playlist-box .emojis ul a img {
  width: 100%;
}

section.section_1 .playlist-box .playlist-button {
  margin-top: 40px;
  position: relative;
}

section.section_1 .playlist-box .playlist-button .button-border {
  width: 199px;
  height: 48px;
  opacity: 0.5;
  border: 3px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 25px;
}

section.section_1 .playlist-box .playlist-button a {
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 199px;
  height: 48px;
  z-index: 0;
  border: 3px solid #ffffff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  z-index: 777;
}

section.section_1 .playlist-box .scroll-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin: 92px auto;
}

section.section_1 .get-app {
  position: absolute;
  bottom: 76px;
  display: -ms-grid;
  display: grid;
  grid-gap: 6px;
}

section.section_1 .get-app .text {
  color: #E22A70;
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

section.section_1 .get-app .text span {
  color: #90F5EF;
}

section.section_1 .get-app .get-app-item {
  max-width: 183px;
  max-height: 55px;
}

section.section_3 {
  min-height: auto;
  position: relative;
  background-image: url("../img/map_smooth.png");
  background-size: cover;
  background-position: center;
}

section.section_3 .container {
  z-index: 7;
}

section.section_3 .ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/ellipse.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: 3;
}

section.section_3 .ellipse::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.4);
}

section.section_3 .section_3_main_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  padding: 200px 0 35px;
  position: relative;
  z-index: 555;
  min-height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section_3 .section_3_main_container .music_desc_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

section.section_3 .section_3_main_container .music_desc_container .same_btn {
  border: 5px solid #3E2DE2;
  border-radius: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: up .5s linear infinite;
          animation: up .5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

section.section_3 .section_3_main_container .music_desc_container .same_btn:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

section.section_3 .section_3_main_container .music_desc_container .same_btn img {
  width: 71px;
  height: 71px;
}

section.section_3 .section_3_main_container .music_desc_container .same_btn.left_btn_box {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section.section_3 .section_3_main_container .music_desc_container .same_btn.right_btn_box {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 60px;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 13px;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box button {
  position: relative;
  min-width: 182px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 9px;
  padding: 5px;
  -webkit-box-shadow: 0 0 0 #470efe;
          box-shadow: 0 0 0 #470efe;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
  background: #470EFE;
  border-radius: 14px;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #470EFE;
  opacity: 0.5;
  -webkit-filter: blur(24px);
          filter: blur(24px);
  border-radius: 14px;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box button img {
  position: relative;
  z-index: 5;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box button p {
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  position: relative;
  z-index: 5;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box .btn_img {
  border: 5px solid #3E2DE2;
  border-radius: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

section.section_3 .section_3_main_container .music_desc_container .center_btn_box .btn_img img {
  width: 124px;
  height: 124px;
}

section.section_3 .section_3_main_container .music_desc_container .info_music {
  max-width: 385px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 25px;
  padding-bottom: 70px;
}

section.section_3 .section_3_main_container .music_desc_container .info_music p {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  color: #EAEAEA;
  font-size: 40px;
  line-height: 43px;
}

section.section_3 .section_3_main_container .music_desc_container .info_music a {
  min-width: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #E22A70;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

section.section_3 .section_3_main_container .music_desc_container .info_music a p {
  position: relative;
  z-index: 5;
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

section.section_3 .section_3_main_container .music_desc_container .info_music a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #E22A70;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  border-radius: 25px;
}

section.section_3 .section_3_main_container .music_desc_container .img_box {
  max-height: 600px;
}

section.section_3 .section_3_main_container .music_desc_container .img_box img {
  width: 100%;
  height: 100%;
}

section.section_6 {
  position: relative;
  min-height: auto;
  background: #ffffff;
  padding: 150px 0 15px;
  overflow: hidden;
}

section.section_6 video {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 450px;
}

section.section_6 .question_main_container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 50px;
  padding-right: 100px;
  width: 100%;
}

section.section_6 .question_main_container .question_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.section_6 .question_main_container .question_top .question_left_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 40px;
  padding-bottom: 65px;
}

section.section_6 .question_main_container .question_top .question_left_info .q_title {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 84px;
  color: #000000;
}

section.section_6 .question_main_container .question_top .question_left_info .ques_ask .just_ask {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  color: #E22A70;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 3px;
}

section.section_6 .question_main_container .question_top .question_left_info .ques_ask .info_ques {
  font-family: "lg-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 24px;
}

section.section_6 .question_main_container .question_top .question_left_info .ques_ask a {
  min-width: 212px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #E22A70;
  border-radius: 25px;
  position: relative;
}

section.section_6 .question_main_container .question_top .question_left_info .ques_ask a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #E22A70;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  border-radius: 25px;
  opacity: .4;
}

section.section_6 .question_main_container .question_top .question_left_info .ques_ask a p {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #E22A70;
  position: relative;
  z-index: 5;
}

section.section_6 .question_main_container .question_top .quest_img {
  max-width: 360px;
  width: 100%;
}

section.section_6 .question_main_container .question_top .quest_img img {
  width: 100%;
}

section.section_6 .question_main_container .question_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 280px;
}

section.section_6 .question_main_container .question_bottom .q_bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 28px;
}

section.section_6 .question_main_container .question_bottom .q_bottom_left p {
  color: #1B1B1B;
  font-family: "lg-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

section.section_6 .question_main_container .question_bottom ul {
  width: 430px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 11px;
}

section.section_6 .question_main_container .question_bottom ul li a {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1B1B;
}

section.section_4 {
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0E0E0E;
  position: relative;
  padding: 250px 0;
}

section.section_4 .ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/ellipse_sound.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: 3;
}

section.section_4 .sound_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 100px;
  padding-right: 100px;
  position: relative;
  z-index: 5;
}

section.section_4 .sound_container .sound_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 120px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

section.section_4 .sound_container .sound_box .sound_single {
  width: 270px;
  height: 475px;
  position: relative;
}

section.section_4 .sound_container .sound_box .sound_single > img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

section.section_4 .sound_container .sound_box .sound_single .sound_avatar {
  position: absolute;
  width: 81px;
  height: 81px;
  border: 5px solid #3E2DE2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -25px;
  top: -40px;
}

section.section_4 .sound_container .sound_box .sound_single .sound_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.section_4 .sound_container .sound_dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 28px;
  max-width: 280px;
}

section.section_4 .sound_container .sound_dec > p {
  color: #ffffff;
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
}

section.section_4 .sound_container .sound_dec a {
  min-width: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #E22A70;
  border-radius: 25px;
  position: relative;
}

section.section_4 .sound_container .sound_dec a p {
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

section.section_4 .sound_container .sound_dec a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #E22A70;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  border-radius: 25px;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  section.section_5 .section_5_box {
    -ms-grid-columns: 60% 35%;
        grid-template-columns: 60% 35%;
    padding: 240px 0px 61px;
    grid-gap: 40px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) {
    top: 180px;
    left: -10px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) {
    top: 50px;
    left: -50px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) {
    left: -40px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) {
    left: 0px;
    top: -45px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) {
    left: -30px;
    top: 110px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) {
    top: 125px;
    left: -10px;
  }
  section.section_5 .section_5_box .section_5_right {
    left: 0px;
  }
  section.section_5 .section_5_box .section_5_right .title {
    font-size: 42px;
    line-height: 56px;
  }
  section.section_5 .section_5_box .section_5_right .section_5_button a {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  section.privacy-header .header-container {
    background: #1B1B1B;
  }
  section.privacy-header .header-container .header-box {
    padding: 40px 0 12px;
  }
  section.header .header-container .header-box {
    padding: 20px 0 25px;
  }
  section.header .header-container .header-box .header-web-box ul {
    grid-gap: 45px;
  }
  section.section_2 .scroll-list-container .scroll-box {
    grid-gap: 16px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-right .section2-gif {
    width: 852px;
    right: -260px;
  }
  section.section_6 .section_6_box .footer ul {
    grid-gap: 11px 51px;
  }
  section.section_7 .section_7_box .section_7_body {
    padding-top: 70px;
    -ms-grid-columns: 50% 40%;
        grid-template-columns: 50% 40%;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .title {
    font-family: "lg-b", Arial, sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 49px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .text {
    font-size: 15px;
    grid-gap: 13px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .apps {
    padding-top: 73px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs {
    margin-top: -50px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs .image-item-2 {
    left: -45px;
    top: 106px;
  }
}

@media (max-width: 768px) {
  section.privacy-header .header-container {
    background: #1B1B1B;
  }
  section.privacy-header .header-container .header-box {
    padding: 25px 0 24px;
  }
  section.header .header-container .header-box {
    padding: 25px 0 30px;
  }
  section.header .header-container .header-box .header-web-box {
    display: none;
  }
  section.header .header-container .header-box .header-mobile-box {
    display: block;
  }
  section.section_2 .scroll-list-container .scroll-box {
    grid-gap: 16px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-right {
    top: 70px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-right .section2-gif {
    width: 702px;
    bottom: -100px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .item {
    margin-bottom: 16px;
    max-width: unset;
    width: 100%;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .item p {
    font-size: 16px;
    line-height: 23px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .list-button {
    top: 31px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .list-button .button-border {
    width: 153px;
    height: 36px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .list-button a {
    font-size: 13px;
    line-height: 13px;
    width: 153px;
    height: 36px;
  }
  section.section_5 .section_5_ellipse {
    background-position: top;
  }
  section.section_5 .section_5_box {
    -ms-grid-columns: 60% 30%;
        grid-template-columns: 60% 30%;
    padding: 220px 0px 61px;
    grid-gap: 40px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) {
    top: 120px;
    left: 0px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) {
    top: 40px;
    left: -30px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) {
    left: -30px;
    top: -10px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) {
    left: 0px;
    top: -35px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) {
    left: -20px;
    top: 50px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) {
    top: 95px;
    left: -10px;
  }
  section.section_5 .section_5_box .section_5_right .title {
    font-size: 25px;
    line-height: 25px;
  }
  section.section_5 .section_5_box .section_5_right .section_5_button .button-border {
    width: 153px;
    height: 36px;
  }
  section.section_5 .section_5_box .section_5_right .section_5_button a {
    width: 153px;
    height: 36px;
    font-size: 13px;
  }
  section.section_6 .breadcumps {
    padding-top: 130px;
  }
  section.section_6 .section_6_box {
    padding-top: 43px;
    padding-right: 0;
    padding-left: 0;
  }
  section.section_6 .section_6_box .title .privacy-title {
    font-family: "lg-sb", Arial, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
  }
  section.section_6 .section_6_box .title p {
    font-family: "lg-l", Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
  }
  section.section_6 .section_6_box .text > ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
  }
  section.section_6 .section_6_box .text {
    margin-top: 30px;
  }
  section.section_6 .section_6_box .text li {
    font-size: 14px;
    line-height: 23px;
  }
  section.section_6 .section_6_box .text li b {
    font-size: 20px;
  }
  section.section_6 .section_6_box .text .sub-ul-1 {
    margin-left: 20px;
    margin-top: 13px;
  }
  section.section_6 .section_6_box .text .sub-ul-1 li {
    grid-gap: 17px;
    line-height: 29px;
  }
  section.section_6 .section_6_box .text .sub-ul-1 li span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  section.section_6 .section_6_box .text .sub-ul-2 {
    margin-top: 19px;
    margin-left: 55px;
  }
  section.section_6 .section_6_box .text .sub-ul-2 li {
    line-height: 29px;
    grid-gap: 17px;
  }
  section.section_6 .section_6_box .text .sub-ul-2 li span {
    width: 6px;
    border-radius: 50%;
    height: 6px;
    background-color: #90F5EF;
  }
  section.section_6 .section_6_box .footer {
    margin-top: 101px;
    margin-bottom: 5px;
    max-width: unset;
    width: 100%;
  }
  section.section_6 .section_6_box .footer .footer-copyright {
    font-size: 13px;
    line-height: 17px;
    padding-top: 28px;
  }
  section.section_6 .section_6_box .footer ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 11px 51px;
  }
  section.section_6 .section_6_box .footer ul a {
    font-size: 15px;
    line-height: 21px;
  }
  section.section_7 .right-ellipse {
    width: 90%;
    background-position: bottom left;
  }
  section.section_7 .left-ellipse {
    width: 70%;
    background-position: top right;
  }
  section.section_7 .section_7_box .breadcumps {
    padding-top: 118px;
  }
  section.section_7 .section_7_box .section_7_body {
    padding-top: 70px;
    -ms-grid-columns: 50% 40%;
        grid-template-columns: 50% 40%;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .title {
    font-family: "lg-b", Arial, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .text {
    font-size: 15px;
    grid-gap: 13px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .apps {
    padding-top: 73px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs {
    margin-top: 40px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs .image-item-2 {
    left: -45px;
    top: 106px;
  }
}

@media (max-width: 576px) {
  section.privacy-header .header-container {
    background: #1B1B1B;
  }
  section.privacy-header .header-container .header-box {
    padding: 25px 25px 24px !important;
  }
  section.header .header-container .header-box {
    padding: 25px 25px 92px;
  }
  section.section_failed {
    padding-left: 25px;
    padding-right: 25px;
  }
  section.section_2 .scroll-list-container .scroll-box {
    padding: 129px 25px 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .item {
    margin-bottom: 16px;
    max-width: unset;
    width: 100%;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .item div:first-child {
    grid-gap: 14px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .item .list-icon {
    width: 12px;
    height: 16px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .item p {
    font-size: 14px;
    line-height: 18px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .list-button {
    top: 31px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .list-button .button-border {
    width: 153px;
    height: 36px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-left .list-button a {
    font-size: 13px;
    line-height: 13px;
    width: 153px;
    height: 36px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-right {
    position: relative;
    bottom: unset;
    top: 20px;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-right .section2-img {
    max-width: 203px;
    max-height: 303px;
    margin-left: auto;
  }
  section.section_2 .scroll-list-container .scroll-box .section2-right .section2-gif {
    position: absolute;
    bottom: -40%;
    right: -100%;
    width: 250%;
  }
  section.section_5 .section_5_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 270px 0px 61px;
    grid-gap: 200px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) {
    top: 100px;
    left: 20px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) {
    top: -5px;
    left: -30px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) {
    left: -20px;
    top: -30px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) {
    left: 10px;
    top: -100px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) {
    left: -130px;
    top: 40px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) {
    top: 75px;
    left: -100px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) a {
    width: 62px;
    height: 62px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) a {
    width: 89.62px;
    height: 89.62px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) a {
    width: 46.35px;
    height: 46.35px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) a {
    width: 107.44px;
    height: 107.44px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) a {
    width: 60.25px;
    height: 60.25px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) a {
    width: 84.14px;
    max-height: 84.14px;
  }
  section.section_5 .section_5_box .section_5_right {
    padding-left: 25px;
    padding-right: 25px;
    top: 0;
  }
  section.section_5 .section_5_box .section_5_right .title {
    font-size: 25px;
    line-height: 25px;
  }
  section.section_5 .section_5_box .section_5_right .section_5_button {
    top: 16px;
  }
  section.section_5 .section_5_box .section_5_right .section_5_button .button-border {
    width: 153px;
    height: 36px;
  }
  section.section_5 .section_5_box .section_5_right .section_5_button a {
    width: 153px;
    height: 36px;
    font-size: 13px;
    color: #ffffff;
  }
  section.section_6 {
    padding-left: 25px;
    padding-right: 25px;
  }
  section.section_7 .section_7_gif {
    margin-top: 20px;
  }
  section.section_7 .right-ellipse {
    width: 100%;
    background-position: left;
  }
  section.section_7 .left-ellipse {
    width: 100%;
    background-position: center;
  }
  section.section_7 .section_7_box {
    padding-left: 25px;
    padding-right: 25px;
  }
  section.section_7 .section_7_box .breadcumps {
    padding-top: 178px;
  }
  section.section_7 .section_7_box .section_7_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
    grid-gap: 45px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .title {
    max-width: 236px;
    font-size: 30px;
    line-height: 35px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .text {
    font-size: 12px;
    line-height: 16px;
    padding-top: 13px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_left .apps {
    padding-top: 40px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs {
    margin-left: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs div {
    max-height: 225px;
    max-width: 112px;
  }
  section.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs .image-item-2 {
    left: -35px;
    top: 80px;
  }
}

@media (max-width: 400px) {
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) {
    top: 100px;
    left: 0px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) {
    top: 10px;
    left: -20px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) {
    left: -20px;
    top: -30px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) {
    left: 10px;
    top: -60px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) {
    left: -40px;
    top: 40px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) {
    top: 75px;
    left: -30px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) a {
    width: unset;
    height: unset;
    max-width: 62px;
    max-height: 62px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) a {
    width: unset;
    height: unset;
    max-width: 89.62px;
    max-height: 89.62px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) a {
    width: unset;
    height: unset;
    max-width: 46.35px;
    max-height: 46.35px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) a {
    width: unset;
    height: unset;
    max-width: 107.44px;
    max-height: 107.44px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) a {
    width: unset;
    height: unset;
    max-width: 60.25px;
    max-height: 60.25px;
  }
  section.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) a {
    width: unset;
    height: unset;
    max-width: 84.14px;
    max-max-height: 84.14px;
  }
}

@media (max-height: 880px) {
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
    max-width: 200px;
    max-height: 200px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item2 {
    left: 235px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item3 {
    max-width: 160px;
    max-height: 160px;
    bottom: 15px;
    left: 280px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item4 {
    max-width: 160px;
    max-height: 160px;
    bottom: -25px;
    left: 450px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item5 {
    max-width: 180px;
    max-height: 180px;
    bottom: -25px;
    left: 57%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item6 {
    max-width: 130px;
    max-height: 130px;
    left: unset;
    right: 20%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item7 {
    max-width: 190px;
    max-height: 190px;
    left: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item8 {
    right: 15%;
    bottom: 25px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item9 {
    max-width: 120px;
    max-height: 120px;
    right: -15px;
    bottom: 25px;
  }
  section.section_1 .playlist-box .main-text {
    font-size: 60px;
    line-height: 70px;
  }
  section.section_1 .playlist-box .emojis ul a {
    width: 60px;
    height: 60px;
  }
  section.section_1 .playlist-box .playlist-button {
    margin-top: 20px;
  }
  section.section_1 .get-app {
    bottom: 15px;
  }
  section.section_1 .get-app .get-app-item {
    max-width: 120px;
  }
  section.section_1 .get-app .get-app-item img {
    width: 100%;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music {
    padding-bottom: 0;
  }
}

@media (min-height: 1300px) {
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
    bottom: 19vh;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item2 {
    bottom: 22vh;
  }
}

@media (max-width: 1200px) {
  section.section_1 .playlist-box .main-text {
    font-size: 55px;
    line-height: 60px;
    max-width: 700px;
  }
  section.section_1 .playlist-box .emojis ul {
    grid-gap: 30px;
  }
  section.section_1 .playlist-box .emojis ul li a {
    width: 55px;
    height: 55px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
    max-width: 180px;
    max-height: 180px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item3 {
    max-width: 140px;
    max-height: 140px;
    left: 19%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item4 {
    max-width: 140px;
    max-height: 140px;
    left: 35%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item5 {
    max-width: 160px;
    max-height: 160px;
    left: 52%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item8 {
    right: 12%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item7 {
    max-width: 160px;
    max-height: 160px;
    right: 14px;
  }
  section.section_3 .section_3_main_container {
    padding: 170px 0 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.section_3 .section_3_main_container .music_right_img .img_box {
    max-width: 400px;
    max-height: 500px;
  }
  section.section_3 .section_3_main_container .music_right_img img {
    width: 100%;
    height: 100%;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music {
    margin-top: 100px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music p {
    font-size: 35px;
    line-height: 38px;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn.right_btn_box {
    margin-top: 20px;
  }
  section.section_4 .sound_container {
    padding-right: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: unset;
  }
  section.section_4 .sound_container .sound_box {
    grid-gap: 50px;
  }
  section.section_4 .sound_container .sound_dec > p {
    font-size: 40px;
    line-height: 45px;
  }
  section.section_6 {
    padding: 120px 0 10px;
  }
  section.section_6 .question_main_container {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  section.section_1 .playlist-box .main-text {
    font-size: 40px;
    line-height: 45px;
    max-width: 550px;
  }
  section.section_1 .playlist-box .emojis ul {
    grid-gap: 30px;
    margin: 30px auto;
  }
  section.section_1 .playlist-box .emojis ul li a {
    width: 47px;
    height: 47px;
  }
  section.section_1 .playlist-box .playlist-button {
    height: 42px;
  }
  section.section_1 .playlist-box .playlist-button .button-border {
    width: 175px;
  }
  section.section_1 .playlist-box .playlist-button a {
    width: 175px;
    height: 42px;
    font-size: 17px;
    line-height: 21px;
  }
  section.section_1 .playlist-box .scroll-down {
    margin: 50px auto;
  }
  section.section_1 .playlists-container .playlist-items {
    height: 100%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
    max-width: 160px;
    max-height: 160px;
    left: 25px;
    top: 86px;
    bottom: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item2 {
    max-width: 100px;
    max-height: 100px;
    left: 218px;
    top: 70px;
    bottom: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item3 {
    max-width: 120px;
    max-height: 120px;
    left: 69px;
    bottom: 200px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item4 {
    max-width: 130px;
    max-height: 130px;
    left: 27%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item5 {
    max-width: 130px;
    max-height: 130px;
    left: 58%;
    bottom: unset;
    top: 78px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item6 {
    max-width: 120px;
    max-height: 120px;
    left: unset;
    bottom: 195px;
    right: 5%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item7 {
    max-width: 150px;
    max-height: 150px;
    left: unset;
    right: 14px;
    top: 85px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item8 {
    max-width: 130px;
    max-height: 130px;
    left: unset;
    right: 18%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item9 {
    max-width: 130px;
    max-height: 130px;
  }
  section.section_3 .section_3_main_container {
    padding: 170px 0 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.section_3 .section_3_main_container .music_right_img .img_box {
    min-width: 250px;
    min-height: 300px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music {
    margin-top: 60px;
    grid-gap: 22px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music p {
    font-size: 30px;
    line-height: 36px;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn.right_btn_box {
    margin-top: 20px;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn img {
    width: 65px;
    height: 65px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box .btn_img img {
    width: 100px;
    height: 100px;
  }
  section.section_4 {
    padding: 120px 0 70px;
  }
  section.section_4 .sound_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 35px;
  }
  section.section_4 .sound_container .sound_box {
    grid-gap: 50px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.section_4 .sound_container .sound_dec {
    max-width: unset;
    width: 100%;
    grid-gap: 20px;
  }
  section.section_4 .sound_container .sound_dec > p {
    font-size: 35px;
    line-height: 40px;
  }
  section.section_6 .question_main_container .question_top {
    grid-gap: 50px;
  }
  section.section_6 .question_main_container .question_top .quest_img {
    max-width: 250px;
  }
  section.section_6 .question_main_container .question_top .question_left_info {
    grid-gap: 21px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .q_title {
    font-size: 50px;
    line-height: 55px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask .just_ask {
    font-size: 35px;
    line-height: 37px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask .info_ques {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask button {
    min-width: 180px;
    height: 42px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask button p {
    font-size: 17px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  section.section_1 .playlist-box .main-text {
    font-size: 33px;
    line-height: 35px;
    max-width: 400px;
  }
  section.section_1 .playlist-box .emojis ul {
    grid-gap: 25px;
    margin: 25px auto;
  }
  section.section_1 .playlist-box .emojis ul li a {
    width: 47px;
    height: 47px;
  }
  section.section_1 .playlist-box .playlist-button {
    height: 38px;
  }
  section.section_1 .playlist-box .playlist-button .button-border {
    width: 160px;
    height: 38px;
  }
  section.section_1 .playlist-box .playlist-button a {
    width: 160px;
    height: 38px;
    font-size: 15px;
    line-height: 17px;
  }
  section.section_1 .playlists-container .playlist-items {
    height: 100%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
    max-width: 140px;
    max-height: 140px;
    left: 25px;
    top: 86px;
    bottom: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item2 {
    max-width: 90px;
    max-height: 90px;
    left: 218px;
    top: 70px;
    bottom: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item3 {
    max-width: 100px;
    max-height: 100px;
    left: 69px;
    bottom: 200px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item4 {
    max-width: 110px;
    max-height: 110px;
    left: 40%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item5 {
    max-width: 120px;
    max-height: 120px;
    left: 52%;
    bottom: unset;
    top: 78px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item6 {
    max-width: 110px;
    max-height: 110px;
    left: unset;
    bottom: 195px;
    right: 5%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item7 {
    max-width: 130px;
    max-height: 130px;
    left: unset;
    right: 14px;
    top: 85px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item8 {
    max-width: 120px;
    max-height: 120px;
    left: unset;
    right: 18%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item9 {
    max-width: 120px;
    max-height: 120px;
  }
  section.section_3 .section_3_main_container {
    padding: 165px 0 25px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 0;
  }
  section.section_3 .section_3_main_container .music_right_img .img_box {
    width: 220px;
    max-width: 360px;
    height: 440px;
    margin-left: auto;
  }
  section.section_3 .section_3_main_container .music_desc_container {
    position: relative;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 300px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music p {
    font-size: 26px;
    line-height: 30px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music a {
    min-width: 180px;
    height: 42px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music a p {
    font-size: 17px;
    line-height: 21px;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn.right_btn_box {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn img {
    width: 60px;
    height: 60px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 137%;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box button {
    min-width: 140px;
    height: 34px;
    border-radius: 10px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box button img {
    width: 12px;
    height: 12px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box button p {
    font-size: 11px;
    line-height: 13px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box .btn_img img {
    width: 92px;
    height: 92px;
  }
  section.section_4 .sound_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 35px;
  }
  section.section_4 .sound_container .sound_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
  }
  section.section_4 .sound_container .sound_box .sound_single {
    width: 220px;
    height: 350px;
  }
  section.section_4 .sound_container .sound_box .sound_single:nth-of-type(2n) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  section.section_4 .sound_container .sound_box .sound_single .sound_avatar {
    width: 60px;
    height: 60px;
    right: -10px;
    top: -25px;
  }
  section.section_4 .sound_container .sound_dec {
    grid-gap: 15px;
  }
  section.section_4 .sound_container .sound_dec > p {
    font-size: 30px;
    line-height: 35px;
  }
  section.section_4 .sound_container .sound_dec a {
    min-width: 170px;
    height: 42px;
  }
  section.section_4 .sound_container .sound_dec a p {
    font-size: 15px;
    line-height: 18px;
  }
  section.section_6 .question_main_container .question_top {
    grid-gap: 50px;
  }
  section.section_6 .question_main_container .question_top .quest_img {
    max-width: 250px;
  }
  section.section_6 .question_main_container .question_top .question_left_info {
    grid-gap: 21px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .q_title {
    font-size: 42px;
    line-height: 45px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask .just_ask {
    font-size: 26px;
    line-height: 30px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask .info_ques {
    font-size: 10px;
    line-height: 12px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask a {
    min-width: 155px;
    height: 36px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask a p {
    font-size: 15px;
    line-height: 19px;
  }
  section.section_6 .question_main_container .question_bottom {
    grid-gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.section_6 .question_main_container .question_bottom .q_bottom_left {
    grid-gap: 50px;
  }
  section.section_6 .question_main_container .question_bottom .q_bottom_left p {
    font-size: 10px;
    line-height: 13px;
  }
  section.section_6 .question_main_container .question_bottom ul {
    width: unset;
    max-width: 200px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 65px;
  }
  section.section_6 .question_main_container .question_bottom ul li a {
    font-size: 13px;
    line-height: 16px;
  }
}

@media (max-width: 576px) {
  section.header.change .header-container .header-box {
    padding: 25px;
  }
  section.section_1 .get-app {
    left: 25px;
  }
  section.section_1 .get-app .text {
    font-size: 10px;
    line-height: 12px;
  }
  section.section_1 .playlist-box {
    padding: 0 25px;
  }
  section.section_1 .playlist-box .playlist-button {
    height: 36px;
  }
  section.section_1 .playlist-box .playlist-button .button-border {
    width: 153px;
    height: 36px;
  }
  section.section_1 .playlist-box .playlist-button a {
    width: 153px;
    height: 36px;
    font-size: 13px;
    line-height: 16px;
  }
  section.section_1 .playlist-box .main-box .emojis ul {
    grid-gap: 20px;
  }
  section.section_1 .playlist-box .main-box .emojis ul li a {
    width: 40px;
    height: 40px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item1 {
    max-width: 140px;
    max-height: 140px;
    left: 25px;
    top: 86px;
    bottom: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item2 {
    max-width: 80px;
    max-height: 80px;
    left: 46%;
    top: 70px;
    bottom: unset;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item3 {
    max-width: 90px;
    max-height: 90px;
    left: -10px;
    bottom: 200px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item4 {
    max-width: 100px;
    max-height: 100px;
    left: 150px;
    bottom: 50px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item5 {
    display: none;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item6 {
    max-width: 100px;
    max-height: 100px;
    left: unset;
    bottom: 195px;
    right: 5%;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item7 {
    max-width: 110px;
    max-height: 110px;
    left: unset;
    right: 14px;
    top: 85px;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item8 {
    display: none;
  }
  section.section_1 .playlists-container .playlist-items .playlist-item.playlist-item9 {
    max-width: 110px;
    max-height: 110px;
  }
  section.section_3 .section_3_main_container {
    padding: 165px 25px 25px;
  }
  section.section_3 .section_3_main_container .music_right_img .img_box {
    width: 220px;
    max-width: 360px;
    height: 440px;
    margin-left: auto;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music {
    max-width: 300px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music p {
    font-size: 22px;
    line-height: 26px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music a {
    min-width: 155px;
    height: 36px;
  }
  section.section_3 .section_3_main_container .music_desc_container .info_music a p {
    font-size: 13px;
    line-height: 17px;
  }
  section.section_3 .section_3_main_container .music_desc_container .same_btn img {
    width: 58px;
    height: 58px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    position: absolute;
    left: 0;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box button {
    min-width: 110px;
    height: 27px;
    border-radius: 8px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box button p {
    font-size: 8px;
    line-height: 11px;
  }
  section.section_3 .section_3_main_container .music_desc_container .center_btn_box .btn_img img {
    width: 84px;
    height: 84px;
  }
  section.section_4 .sound_container {
    padding: 0 25px;
  }
  section.section_4 .sound_container .sound_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.section_4 .sound_container .sound_box .sound_single {
    width: 160px;
    height: 270px;
  }
  section.section_4 .sound_container .sound_box .sound_single:nth-of-type(2n) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  section.section_4 .sound_container .sound_box .sound_single .sound_avatar {
    width: 46px;
    height: 46px;
    right: -10px;
    top: -15px;
  }
  section.section_4 .sound_container .sound_dec > p {
    font-size: 25px;
    line-height: 30px;
  }
  section.section_4 .sound_container .sound_dec a {
    min-width: 155px;
    height: 36px;
  }
  section.section_4 .sound_container .sound_dec a p {
    font-size: 13px;
    line-height: 16px;
  }
  section.section_6 video {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1500px;
  }
  section.section_6 .question_main_container {
    padding: 0 25px;
  }
  section.section_6 .question_main_container .question_top {
    grid-gap: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.section_6 .question_main_container .question_top .quest_img {
    max-width: unset;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section.section_6 .question_main_container .question_top .quest_img img {
    max-width: 250px;
    max-height: 400px;
    min-height: 320px;
  }
  section.section_6 .question_main_container .question_top .question_left_info {
    grid-gap: 21px;
    padding: 0;
    max-width: 350px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .q_title {
    font-size: 35px;
    line-height: 37px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask .just_ask {
    font-size: 22px;
    line-height: 26px;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask a {
    background: #ffffff;
  }
  section.section_6 .question_main_container .question_top .question_left_info .ques_ask a p {
    font-size: 13px;
    line-height: 17px;
  }
}

@media (max-width: 400px) {
  section.section_3 .section_3_main_container .music_right_img .img_box {
    min-width: unset;
    min-height: unset;
    width: 150px;
    height: 280px;
  }
}

body {
  background-color: #1B1B1B;
}

body {
  height: 100%;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.turqoise {
  background-color: #E22A70;
}

.green {
  background-color: #470EFE;
}

.bordeaux {
  background-color: #90F5EF;
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  z-index: 10000;
  -webkit-transition: .7s;
  transition: .7s;
  right: -8000px;
  width: 100%;
  height: 100%;
  background-color: #1B1B1B;
  padding: 27px 25px;
}

.sidebar .sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .sidebar-body {
  padding-top: 112px;
}

.sidebar .sidebar-body li {
  text-align: center;
}

.sidebar .sidebar-body li:not(:last-child) {
  border-bottom: 1px solid #E22A70;
}

.sidebar .sidebar-body a {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  padding: 33px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
}

section.privacy-header .header-container {
  background: #1B1B1B;
}

section.privacy-header .header-container .header-box {
  padding: 40px 0 12px;
}

section.privacy-header .header-container .header-box .header-web-box ul a {
  opacity: 0.6;
}

section.privacy-header .header-container .header-box .header-web-box ul .active-menu {
  opacity: 1;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
}

.header .header-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#0C0C0C), to(rgba(12, 12, 12, 0)));
  background: linear-gradient(180deg, #0C0C0C 0%, rgba(12, 12, 12, 0) 100%);
}

.header .header-container .header-box {
  padding: 39px 0 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header-box .header-logo {
  width: 70px;
  height: 47px;
}

.header .header-container .header-box .header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

.header .header-container .header-box .header-web-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 63px;
}

.header .header-container .header-box .header-web-box ul a {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 21px;
}

.header .header-container .header-box .header-mobile-box {
  display: none;
}

.header .header-container .header-box .header-mobile-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_failed {
  background-color: #0D0D0D;
}

.section_failed .breadcumps div {
  color: #90F5EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  font-size: 13px;
  line-height: 13px;
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
}

.section_failed .breadcumps div .breadcump-icon {
  max-width: 44.92px;
}

.section_failed .breadcumps div .breadcump-icon img {
  width: 100%;
}

.section_failed .failed-box {
  padding-top: 165px;
}

.section_failed .failed-box .failed-image {
  margin: 37px auto;
  max-width: 500px;
  max-width: 500px;
}

.section_failed .failed-box .failed-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_2 {
  background-color: #ffffff;
  min-height: auto;
  overflow: hidden;
}

.section_2 .scroll-list-container .scroll-box {
  padding-top: 120px;
  padding-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 50%;
      grid-template-columns: 40% 50%;
  grid-gap: 105px;
}

.section_2 .scroll-list-container .scroll-box .section2-left {
  position: relative;
  z-index: 7777;
}

.section_2 .scroll-list-container .scroll-box .section2-left .item {
  margin-bottom: 20px;
  max-width: 488px;
}

.section_2 .scroll-list-container .scroll-box .section2-left .item div:first-child {
  grid-gap: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2 .scroll-list-container .scroll-box .section2-left .item .list-icon {
  width: 15px;
  height: 21px;
}

.section_2 .scroll-list-container .scroll-box .section2-left .item .list-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_2 .scroll-list-container .scroll-box .section2-left .item p {
  color: #1B1B1B;
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.section_2 .scroll-list-container .scroll-box .section2-left .item p span {
  color: #E22A70;
}

.section_2 .scroll-list-container .scroll-box .section2-left .list-button {
  position: relative;
  top: 26px;
}

.section_2 .scroll-list-container .scroll-box .section2-left .list-button .button-border {
  position: absolute;
  width: 153px;
  height: 36px;
  opacity: 0.7;
  border: 3px solid #E22A70;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 1;
  border-radius: 25px;
}

.section_2 .scroll-list-container .scroll-box .section2-left .list-button a {
  position: absolute;
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 153px;
  height: 36px;
  z-index: 0;
  border: 3px solid #E22A70;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E22A70;
  z-index: 777;
}

.section_2 .scroll-list-container .scroll-box .section2-right {
  position: relative;
  bottom: 30px;
}

.section_2 .scroll-list-container .scroll-box .section2-right .section2-img {
  max-width: 323px;
  max-height: 423px;
  margin-left: 27px;
}

.section_2 .scroll-list-container .scroll-box .section2-right .section2-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_2 .scroll-list-container .scroll-box .section2-right .section2-gif {
  position: absolute;
  width: 952px;
  right: -200px;
  bottom: -120px;
  -webkit-transform: rotate(-27.94deg);
          transform: rotate(-27.94deg);
}

.section_2 .scroll-list-container .scroll-box .section2-right .section2-gif img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_5 {
  position: relative;
  background: #0E0E0E;
  min-height: auto;
}

.section_5 .section_5_ellipse {
  width: 100%;
  height: 100%;
  background-image: url("../img/ellipse-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.section_5 .section_5_box {
  padding: 240px 35px 61px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.section_5 .section_5_box .section_5_left {
  z-index: 3;
  position: relative;
}

.section_5 .section_5_box .section_5_left .other-images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_5 .section_5_box .section_5_left .other-images ul li {
  position: relative;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(1) {
  top: 230px;
  left: 50px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) {
  top: 90px;
  left: 35px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(3) {
  left: 50px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) {
  left: 95px;
  top: -45px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(5) {
  left: 35px;
  top: 110px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) {
  top: 165px;
  left: 55px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-of-type(2n+1) a {
  max-width: 75.91px;
  max-height: 75.91px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(2) a {
  max-width: 114px;
  max-height: 114px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(4) a {
  max-width: 135px;
  max-height: 135px;
}

.section_5 .section_5_box .section_5_left .other-images ul li:nth-child(6) a {
  max-width: 106px;
  max-height: 106px;
}

.section_5 .section_5_box .section_5_left .other-images ul li img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.section_5 .section_5_box .section_5_left .main-image {
  max-width: 808px;
  max-height: 522px;
}

.section_5 .section_5_box .section_5_left .main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_5 .section_5_box .section_5_right {
  top: 70px;
  left: -40px;
  position: relative;
  z-index: 3;
}

.section_5 .section_5_box .section_5_right .title {
  font-size: 62px;
  line-height: 65px;
  color: #ffffff;
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  max-width: 370px;
}

.section_5 .section_5_box .section_5_right .section_5_button {
  position: relative;
  top: 21px;
}

.section_5 .section_5_box .section_5_right .section_5_button .button-border {
  position: absolute;
  width: 199px;
  height: 48px;
  border: 3px solid #90F5EF;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 1;
  border-radius: 25px;
}

.section_5 .section_5_box .section_5_right .section_5_button a {
  position: absolute;
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 199px;
  height: 48px;
  z-index: 0;
  border: 3px solid #90F5EF;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #90F5EF;
  z-index: 777;
}

.section_6 {
  background-color: #ffffff;
  color: #1B1B1B;
}

.section_6 .breadcumps {
  padding-top: 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 7px;
}

.section_6 .breadcumps a {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  color: #1B1B1B;
  font-size: 13px;
  line-height: 13px;
}

.section_6 .section_6_box {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 22px;
}

.section_6 .section_6_box .title .privacy-title {
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.section_6 .section_6_box .title p {
  font-family: "lg-l", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.section_6 .section_6_box .text > ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 27px;
}

.section_6 .section_6_box .text {
  margin-top: 46px;
}

.section_6 .section_6_box .text li {
  font-family: "lg-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.section_6 .section_6_box .text li b {
  font-size: 25px;
}

.section_6 .section_6_box .text li span {
  color: #E22A70;
  text-decoration: underline;
}

.section_6 .section_6_box .text .sub-ul-1 {
  margin-left: 20px;
}

.section_6 .section_6_box .text .sub-ul-1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 17px;
  line-height: 33px;
}

.section_6 .section_6_box .text .sub-ul-1 li span {
  min-width: 6px;
  height: 6px;
  background-color: #E22A70;
  border-radius: 50%;
}

.section_6 .section_6_box .text .sub-ul-2 {
  margin-top: 13px;
  margin-left: 55px;
}

.section_6 .section_6_box .text .sub-ul-2 li {
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 17px;
}

.section_6 .section_6_box .text .sub-ul-2 li span {
  min-width: 6px;
  border-radius: 50%;
  height: 6px;
  background-color: #90F5EF;
}

.section_6 .section_6_box .footer {
  margin-top: 101px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 809px;
}

.section_6 .section_6_box .footer .footer-copyright {
  font-size: 13px;
  font-family: "lg-r", Arial, sans-serif;
  font-weight: 400;
  line-height: 17px;
  padding-top: 28px;
}

.section_6 .section_6_box .footer ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 11px 121px;
}

.section_6 .section_6_box .footer ul a {
  color: #1B1B1B;
  font-family: "lg-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.section_7 {
  background-color: #0D0D0D;
  position: relative;
  padding-bottom: 40px;
}

.section_7 .right-ellipse {
  background-size: cover;
  width: 60%;
  height: 100%;
  background-image: url("../img/section7-right-ellipse.png");
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
}

.section_7 .left-ellipse {
  z-index: 0;
  background-size: cover;
  width: 60%;
  height: 100%;
  background-image: url("../img/section7-left-ellipse.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
}

.section_7 .section_7_box {
  z-index: 2;
}

.section_7 .section_7_box .breadcumps {
  padding-top: 158px;
}

.section_7 .section_7_box .section_7_body {
  padding-top: 90px;
  display: -ms-grid;
  display: grid;
  grid-gap: 51px;
  -ms-grid-columns: 50% 46%;
      grid-template-columns: 50% 46%;
}

.section_7 .section_7_box .section_7_body .section_7_left .title {
  max-width: 488px;
  font-family: "lg-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 65px;
  background: linear-gradient(10deg, #FFFFFF 0%, #90F5EF 103.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_7 .section_7_box .section_7_body .section_7_left .text {
  padding-top: 21px;
  font-size: 16px;
  line-height: 18px;
  color: #D6D6D6;
  display: -ms-grid;
  display: grid;
  grid-gap: 18px;
}

.section_7 .section_7_box .section_7_body .section_7_left .apps {
  padding-top: 73px;
  grid-gap: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_7 .section_7_box .section_7_body .section_7_left .apps div {
  max-width: 183px;
  max-height: 54.41px;
}

.section_7 .section_7_box .section_7_body .section_7_left .apps div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100px;
}

.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs div {
  position: relative;
  max-width: 251px;
  max-height: 504px;
}

.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_7 .section_7_box .section_7_body .section_7_right .section_7_imgs .image-item-2 {
  left: -85px;
  top: 176px;
}

.section_7 .section_7_gif {
  margin-top: -150px;
  z-index: 1;
  width: 98%;
  opacity: 0.5;
  max-height: 296;
  -webkit-transform: rotate(-2.58deg);
          transform: rotate(-2.58deg);
}

.section_7 .section_7_gif img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=main.css.map */