
@import '_vars'
@import '_fonts'
@import '_main2'
@import '_responsive'
@import '_responsive2'


body
    background-color: $light_black

body
    height: 100%


button
    +btn_default

section
    min-height: 100vh
    display: flex
    flex-direction: column
    z-index: 5


.turqoise
    background-color: $pink

.green
    background-color: $purple

.bordeaux
    background-color: $blue


.sidebar
    position: fixed
    overflow-y: auto
    z-index: 10000
    transition: .7s
    right: -8000px
    width: 100%
    height: 100%
    background-color: $light_black
    padding: 27px 25px
    .sidebar-header
        display: flex
        align-items: center
        justify-content: space-between
    .sidebar-body
        padding-top: 112px
        li
            text-align: center
        li:not(:last-child)
            border-bottom: 1px solid $pink
        a
            +lg-sb
            padding: 33px 0
            color: $white
            font-size: 20px
            line-height: 20px



section.privacy-header
    .header-container
        background: $light_black 
        .header-box
            padding: 40px 0 12px
            .header-web-box
                ul
                    a
                        opacity: 0.6                        
                    .active-menu
                        opacity: 1
.header
    z-index: 10
    position: fixed
    top: 0
    .header-container 
        background: linear-gradient(180deg, #0C0C0C 0%, rgba(12, 12, 12, 0) 100%) 
        .header-box
            padding: 39px 0 78px
            display: flex
            align-items: center
            justify-content: space-between
            .header-container
            .header-logo
                width: 70px
                height: 47px
                img
                    width: 100%
                    height: 100%
                    object-fit: contain
                    -o-object-fit: contain
            .header-web-box
                ul
                    display: flex
                    align-items: center
                    grid-gap: 63px
                    a
                        +lg-sb
                        color: $white
                        line-height: 21px
            .header-mobile-box
                display: none 
                img
                    +img_contain        

.section_failed
    background-color: #0D0D0D
    .breadcumps
        div
            color: $blue
            display: flex
            align-items: center
            grid-gap: 8px
            font-size: 13px
            line-height: 13px
            +lg-sb
            .breadcump-icon
                max-width: 44.92px
                img
                    width: 100%
    .failed-box    
        padding-top: 165px    
        .failed-image
            margin: 37px auto
            max-width: 500px
            max-width: 500px
            img
                +img_contain

.section_2
    background-color: $white
    min-height: auto
    overflow: hidden
    .scroll-list-container
        .scroll-box
            padding-top: 120px
            padding-bottom: 100px
            display: grid
            grid-template-columns: 40% 50%
            grid-gap: 105px
            .section2-left
                position: relative
                z-index: 7777
                .item
                    margin-bottom: 20px
                    max-width: 488px
                    div
                        &:first-child
                            grid-gap: 18px
                            display: flex
                            align-items: center
                    .list-icon
                        width: 15px
                        height: 21px
                        img
                            +img_contain

                    p
                        color: $light_black
                        +lg-sb
                        font-size: 20px
                        line-height: 30px
                        span
                            color: $pink
                .list-button
                    position: relative
                    top: 26px
                    .button-border
                        position: absolute
                        width: 153px
                        height: 36px
                        opacity: 0.7
                        border: 3px solid $pink
                        filter: blur(5px)
                        z-index: 1
                        border-radius: 25px
                    a
                        position: absolute
                        +lg-b
                        font-size: 18px
                        line-height: 24px
                        width: 153px
                        height: 36px
                        z-index: 0
                        border: 3px solid $pink
                        border-radius: 25px
                        display: flex
                        justify-content: center
                        align-items: center
                        color: $pink
                        z-index: 777

            .section2-right
                position: relative
                bottom: 30px
                .section2-img
                    max-width: 323px
                    max-height: 423px
                    margin-left: 27px
                    img
                        +img_contain
                .section2-gif
                    position: absolute
                    width: 952px
                    right: -200px
                    bottom: -120px
                    transform: rotate(-27.94deg)
                    img
                        +img_contain

.section_5
    position: relative
    background: #0E0E0E
    min-height: auto
    .section_5_ellipse
        width: 100%
        height: 100%
        background-image: url('../img/ellipse-back.png')
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        z-index: 2
        top: 0
        right: 0
    .section_5_box
        padding: 240px 35px 61px
        display: grid
        grid-template-columns: 70% 30%
        .section_5_left
            z-index: 3
            position: relative
            .other-images
                ul
                    display: flex
                    li
                        position: relative
                        &:nth-child(1)
                            top: 230px
                            left: 50px
                        &:nth-child(2)
                            top: 90px
                            left: 35px
                        &:nth-child(3)
                            left: 50px
                        &:nth-child(4)
                            left: 95px
                            top: -45px
                        &:nth-child(5)
                            left: 35px
                            top: 110px
                        &:nth-child(6)
                            top: 165px
                            left: 55px
                        &:nth-of-type(2n+1)
                            a
                                max-width: 75.91px
                                max-height: 75.91px
                        &:nth-child(2)
                            a
                                max-width: 114px
                                max-height: 114px    
                        &:nth-child(4)
                            a
                                max-width: 135px
                                max-height: 135px
                        &:nth-child(6)
                            a
                                max-width: 106px
                                max-height: 106px
                        img
                            border-radius: 10px
                            width: 100%
                            height: 100%
                            object-fit: cover
                            -o-object-fit: cover

            .main-image
                max-width: 808px
                max-height: 522px
                img
                    +img_contain

        .section_5_right
            top: 70px
            left: -40px
            position: relative
            z-index: 3
            .title
                font-size: 62px
                line-height: 65px
                color: $white
                +lg-sb
                max-width: 370px
            .section_5_button
                position: relative
                top: 21px
                .button-border
                    position: absolute
                    width: 199px
                    height: 48px
                    border: 3px solid $blue
                    filter: blur(5px)
                    z-index: 1
                    border-radius: 25px
                a
                    position: absolute
                    +lg-b
                    font-size: 18px
                    line-height: 24px
                    width: 199px
                    height: 48px
                    z-index: 0
                    border: 3px solid $blue
                    border-radius: 25px
                    display: flex
                    justify-content: center
                    align-items: center
                    color: $blue
                    z-index: 777
                
.section_6
    background-color: $white
    color: $light_black
    .breadcumps
        padding-top: 167px
        display: flex
        align-items: center
        grid-gap: 7px
        a
            +lg-sb
            color: $light_black
            font-size: 13px
            line-height: 13px
    .section_6_box
        padding-left: 100px
        padding-right: 100px
        padding-top: 22px
        .title
            .privacy-title
                +lg-sb
                font-size: 40px
                line-height: 52px
            p
                +lg-l
                font-size: 14px
                line-height: 18px
        .text>ul
            display: grid
            grid-gap: 27px
        .text
            margin-top: 46px
            li
                +lg-r
                font-size: 18px
                line-height: 26px  

                b
                    font-size: 25px

                span
                    color: $pink
                    text-decoration: underline    
            .sub-ul-1
                margin-left: 20px
                li
                    display: flex
                    align-items: center
                    grid-gap: 17px
                    line-height: 33px
                    span
                        min-width: 6px
                        height: 6px
                        background-color: $pink   
                        border-radius: 50%
            .sub-ul-2
                margin-top: 13px
                margin-left: 55px
                li
                    line-height: 33px
                    display: flex
                    align-items: center
                    grid-gap: 17px
                    span
                        min-width: 6px
                        border-radius: 50%
                        height: 6px
                        background-color: $blue               
        .footer
            margin-top: 101px
            margin-bottom: 5px
            display: flex
            justify-content: space-between
            max-width: 809px
            .footer-copyright
                font-size: 13px
                +lg-r
                line-height: 17px
                padding-top: 28px
            ul
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                grid-gap: 11px 121px

                a
                    color: $light_black
                    +lg-sb
                    font-size: 16px
                    line-height: 21px

.section_7
    background-color: #0D0D0D
    position: relative
    padding-bottom: 40px
    .right-ellipse
        background-size: cover
        width: 60%
        height: 100%
        background-image: url('../img/section7-right-ellipse.png')
        background-repeat: no-repeat
        background-position: top
        position: absolute
        z-index: 0
        bottom: 0
        right: 0
    .left-ellipse
        z-index: 0
        background-size: cover
        width: 60%
        height: 100%
        background-image: url('../img/section7-left-ellipse.png')
        background-repeat: no-repeat
        background-position: bottom
        position: absolute
        top: 0
        left: 0    
    .section_7_box
        z-index: 2
        .breadcumps
            padding-top: 158px
        .section_7_body
            padding-top: 90px
            display: grid
            grid-gap: 51px
            grid-template-columns: 50% 46%
            .section_7_left
                .title
                    max-width: 488px
                    +lg-b
                    font-size: 65px
                    line-height: 65px
                    background: linear-gradient(10deg, #FFFFFF 0%, #90F5EF 103.69%)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                .text
                    padding-top: 21px
                    font-size: 16px
                    line-height: 18px
                    color: #D6D6D6 
                    display: grid 
                    grid-gap: 18px

                .apps
                    padding-top: 73px
                    grid-gap: 41px
                    display: flex
                    div
                        max-width: 183px
                        max-height: 54.41px
                        img
                            +img_contain
                            
            .section_7_right
                .section_7_imgs
                    display: flex
                    margin-top: -100px
                    div
                        position: relative
                        max-width: 251px
                        max-height: 504px
                        img
                            +img_contain
                    
                    .image-item-2
                        left: -85px
                        top: 176px
    .section_7_gif
        margin-top: -150px
        z-index: 1
        width: 98%
        opacity: 0.5
        max-height: 296
        transform: rotate(-2.58deg)
        img
            +img_contain


